.category__products {
    padding: 1rem;
    margin: 1em;
    min-width: 250px;
    max-width: 500px;
}

.title {
    display: flex;
}
.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
}
