.item {
    min-width: 30vw;

    pointer-events: none;
    padding: 1rem;
}

.item img {
    width: 50vw;

    pointer-events: none;
    margin: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
}

li {
    list-style: none;
}
.li__container {
    font-size: x-large;
    min-height: 80vh;
}
.title {
    font-size: large;
}

.slider {
    display: flex;
    justify-content: center;
    cursor: grab;
}
.slider-container {
    margin: 0 0;
    overflow-x: hidden;
}
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-size: small;
}
