.item {
    min-width: 30vw;
    max-width: 60vw;
    pointer-events: none;
    padding: 2rem;
}

.item img {
    height: 80%;
    max-width: 90%;
    pointer-events: none;
    margin: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
}

li {
    list-style: none;
}
.li__container {
    font-size: x-large;
}
.title {
    font-weight: bold;
    font-size: x-large;
}

.slider {
    display: flex;
    cursor: grab;
}
.slider-container {
    margin: 0 10;
    overflow-x: hidden;
}
