.btn {
    width: 15em;
    height: 3em;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91c9ff;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 6px;
}
.btn:hover {
    transition: 1s ease-in-out;
    background: #4f95da;
}
