.header {
    background-color: #00b4d8;
    color: rgb(247, 242, 237);
    width: 100vw;
    padding: 1em;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a {
    color: white;
    font-size: large;
}
