.header {
    background-color: #00b4d8;
    color: rgb(247, 242, 237);
    width: 100vw;
    min-width: 450px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
