.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    background-color: #00b4d8;
    color: rgb(247, 242, 237);
}
.footer {
    
    width: 100vw;
    position: sticky;
    padding: 1em;
}
